body {
	margin: 0;
	background-color: #000;
	font-family: Monospace;
	font-size: 12px;
	overflow: hidden;
}

#p-icon {
	position: absolute;
	height: auto;
	width: auto;
	top: 10px;
	left: 10px;
	z-index: 1;
	display: flex;
	align-items: center;
	color: #ffffff;
}

#p-l-icon {
	position: absolute;
	height: auto;
	width: auto;
	top: 10px;
	right: 10px;
	z-index: 1;
	display: flex;
    align-items: center;
	color: #ffffff;
}

#container {
    height:100%;
    width:100%;
}